.page {
  font-family: 'Inter', sans-serif;
  position: relative;
  margin: 0;
  padding: 34px 0 24px 0;
  background-color: #2a2c2f;
  box-sizing: border-box;
  max-width: ;
  overflow-y: hidden;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  text-rendering: optimizeLegibility;
}


/* @media screen and (min-width: 1024px) and (max-width: 1279px) {
  .page {
    max-width: 100vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 1023px) {
  .page {
    max-width: 100vw;
  }
} */


@media screen and (max-width: 320px) and(max-width: 767px) {
  .page {
    max-width: 100vw;
    padding-top: 20px;
  }
}
