.header__lang-link_en {
  width: 29px;
  height: 28px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-decoration: none;
  text-align: right;
  color: #ffffff;
  margin: 12px 18px 4px 0;
}


.header__lang-link_en:focus {
  text-decoration: underline;
}
