.place__link {
  width: 456px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 48px;
}

.place__link:hover {
  opacity: 0.8;
}


@media screen and (max-width: 320px) {
  .place__link {
    display: none;
  }
}
