.place__cell-image {
  grid-area: image;
  max-width: 460px;
}

@media screen and (max-width: 1024px) {
  .place__cell-image {
    max-width: 440px;
    max-height: 440px;

  }
}

@media screen and (max-width: 768px) {
  .place__cell-image {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .place__cell-image {
    padding: 2rem;
  }
}



@media screen and (max-width: 320px) {
  .place__cell-image {
    max-width: 320px;
    max-height: 320px;
    padding: 0;
  }
}

