.footer__nav {
  margin: 0;
}


@media screen and (max-width: 460px) {
  .footer__nav {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    max-width: 320px;
    margin: 0;
  }
}

