@import url("./__grid/place__grid.css");
@import url("./__title/place__title.css");
@import url("./__image/place__images.css");
@import url("./__paragraph/place__paragraph.css");
@import url("./__link/place__link.css");
@import url("./__url-heading/place__url-heading.css");

.place {
  width: 984px;
  margin: 0 auto 80px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 40px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .place {
    width: 928px;
    grid-gap: 32px;
    margin: 0 48px 80px 48px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    width: 720px;
    grid-gap: 28px;
    margin: 0 24px 80px 24px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 32px;
  }
}
